::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  display: none;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $overlay;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: $highlight_overlay;
}

