<nav class="navigation-menu">
  <ul class="navigation-menu__inner menu--desktop">
    {{ if or $.Site.Params.showMenuItems ( eq .Site.Params.showMenuItems 0 ) }}
      {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
        {{ if not .HasChildren }}
          {{ if eq .Params.Align "left" }}
            {{ if hasPrefix $.RelPermalink .URL }}
              <li><a class="menu-item-active" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ else }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

      <div style="flex-grow: 1;"></div>

      {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
        {{ if not .HasChildren }}
          {{ if eq .Params.Align "right" }}
            {{ if hasPrefix $.RelPermalink .URL }}
              <li><a class="menu-item-active" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ else }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if gt (len $.Site.Menus.main) $.Site.Params.showMenuItems }}
        <li>
          <ul class="menu">
            <li class="menu__trigger">{{ $.Site.Params.MenuMore }}&nbsp;▾</li>
            <li>
              <ul class="menu__dropdown">
                {{ range last (sub (len $.Site.Menus.main) $.Site.Params.showMenuItems) $.Site.Menus.main }}
                  {{ if not .HasChildren }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }}
                {{ end }}
              </ul>
            </li>
          </ul>
        </li>
      {{ end }}
    {{ else }}
      {{ range $.Site.Menus.main }}
        {{ if not .HasChildren }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</nav>
