---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$base00: #232136;
$base01: #2a273f;
$base02: #393552;
$base03: #59546d;
$base04: #817c9c;
$base05: #e0def4;
$base06: #f5f5f7;
$base07: #d9d7e1;
$base08: #ecebf0;
$base09: #eb6f92;
$base0a: #f6c177;
$base0b: #ea9a97;
$base0c: #3e8fb0;
$base0d: #9ccfd8;
$base0e: #c4a7e7;
$base0f: #b9b9bc;

$background-color: #faf4ed;
$code-background-color: #eee9e6;
$text-color: #575279;
$muted-text-color: #6e6a86;
$footer-background-color: $background-color;
$border-color: rgba(110, 106, 134, 0.08);

$primary-color: #575279;
$focus-color: #d7827e;
$active-color: $focus-color;

$link-color: #d7827e;
$link-color-hover: $link-color;
$link-color-visited: $link-color;

$x-large: 1386px;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "highlight";

a {
  text-decoration: none;
}

.archive__item {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.page__content {
  font-family: 'Cormorant Garamond', serif;
}
