---
layout: single
---
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/github-dark-dimmed.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

{% if page.use_p5js %}
<link rel="stylesheet" href="/assets/p5/css/style.css" >
<script src="/assets/p5/lib/rose-pine-palette.js"></script>
<script src="/assets/p5/lib/p5.js"></script>
<script src="/assets/p5/lib/p5.sound.js"></script>
<script src="/assets/p5/lib/p5.gui.js"></script>
{% endif }

{% if page.use_mathjax %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}

{{ content }}
